.container{
    width:30%;
    margin:10% auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label{
    margin: 0.1rem 0;
}
input{
    padding: 12px 2px;
    margin: 0.1rem 0;
}

/* button css */
.button-23 {
background-color: #FFFFFF;
border: 1px solid #222222;
box-sizing: border-box;
color: #222222;
cursor: pointer;
display: inline-block;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
margin: 8px 0;
outline: none;
padding: 10px 23px;
position: relative;
text-align: center;
text-decoration: none;
touch-action: manipulation;
transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
user-select: none;
-webkit-user-select: none;
width: auto;
}

.button-23:focus-visible {
box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
transition: box-shadow .2s;
}

.button-23:active {
background-color: #F7F7F7;
border-color: #000000;
transform: scale(.96);
}

.button-23:disabled {
border-color: #DDDDDD;
color: #DDDDDD;
cursor: not-allowed;
opacity: 1;
}


.error-bg{
    background: #ebaaa7;
    list-style: none;
    padding: 8px;

}
.error-text{
    color: #ebaaa7;
    list-style: none;
}